<html>
<head>
	
	<!-- JQuery -->
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>	
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	<!-- My Scripts -->

	<script>
		$(document).ready(function(){

			$("#list_rental").click(function(){

				window.location.replace("http://167.71.243.61:5000/list_apt")
			})

			$("#find_rental").click(function(){
				window.location.replace("http://167.71.243.61:5000/find_apt")
			})

			$('.jumbotron').click(function(){
  				window.location.replace("http://167.71.243.61:5000/")
  			})
	
		})

	</script>


	<style>
		#welcome_text{
			text-align: center;
			font-weight: bold;
		}

		#find_rental{
			margin-left: 290px;
			margin-top: 100px;
			padding-top: 50px;
			padding-bottom: 50px;
			padding-left: 50px;
			padding-right: 50px;
		}
		#list_rental{
			margin-left: 100px;
			margin-top: 100px;
			padding-top: 50px;
			padding-bottom: 50px;
			padding-left: 50px;
			padding-right: 50px;
		}
	</style>

	
</head>
<body>


<div class="container">
  <div class="jumbotron">
    <h1>Columbia Sublets</h1>      
  </div> 


	<div id="home">
	<div id="welcome_text">
		Find your home at Columbia
	</div>

		<button class="btn btn-primary" id="find_rental">Find Apartment</button>

		<button class="btn btn-primary" id="list_rental">List Apartment</button>
	</div>
	<br>

	<div id="rentals">
	</div>
	
	</div>

</div>

</body>
</html>