<html>
<head>
	
	<!-- JQuery -->
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>	
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	<!-- My Scripts -->
	
	<script type="text/javascript" src="{{ url_for('static', filename = 'rent.js') }}"></script>

	<script>
		

		rentals = {{rentals|tojson}}

	</script>


	<style>

		#listrental{
			height: 100px;

		}

		#enter_address{
			width:100%;
		}

		.bottom_row_padding{
			padding-bottom: 5px;
		}

	</style>

	
</head>
<body>


<div class="container">
  <div class="jumbotron">
    <h1>Columbia Rental</h1>      
  </div> 


	<div id="listrental">
	<div class="list_text">
		List your apartment:
	</div>
	<div class="row">
		<div class="col-md-4">	
			<div class="ui-widget">		
				<input type="text"  id="enter_address" placeholder="Address">
			</div>
		</div>
		<div class="col-md-2">
			<input type="text" id="enter_rooms" placeholder="# Rooms" >
		</div>
		<div class="col-md-2">
			<input type="text" id="enter_bath" placeholder="# Bath" >
		</div>
		<div class="col-md-2">
			<input type="text" id="enter_contact" placeholder="Contact email" >
		</div>
		<button class="btn btn-primary" id="submit_rental">Submit</button>

	</div>
	<br>

	<div id="rentals">
	</div>
	
	</div>

</div>

</body>
</html>